.App {
  text-align: center;
  font-size: 1rem;
}

.container{
 	margin: auto;
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  height: 30vw;
  background-color: red;
}

.custom-btn {
  border-radius: 5px !important;
  background-color: #1ed760 !important;
  color: black !important;
  border-color: red !important;
  margin-left: 1.5rem !important;
  width: 10%;
  padding: 1.5rem !important;
}



.grid {
  width: 75%;
}

.title{
  font-size: 8em;
  color: white;
  margin-top:2.5em;
}

.subtitle{
  font-size: 3em;
  color: white;
  margin-top:0.5em;
}