.App {
  text-align: center;
}

.container{
 	margin: auto;
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  height: 30vw;
  background-color: red;
}

.custom-btn {
  border-radius: 5px !important;
  background-color: #1ed760 !important;
  color: black !important;
  border-color: red !important;
  margin-left: 1.5rem !important;
  width: 10%;
  padding: 1.5rem !important;
}

.custom-btn:hover{
  transform: scale(1.25) !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}