.App {
  text-align: center;
  font-size: 1rem;
}

.container{
 	margin: auto;
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  height: 30vw;
  background-color: red;
}

.custom-btn {
  border-radius: 5px !important;
  background-color: #1ed760 !important;
  color: black !important;
  border-color: red !important;
  margin-left: 1.5rem !important;
  width: 10%;
  padding: 1.5rem !important;
}


.form {
  display: flex; 
  flex-direction: row;
  /* grid-column: 2; */
  width: 75%;
  padding: 3rem;
  margin-top: 7em;
}


.input {
  flex: 8;
  padding: 0.5em 0.75em;
  margin-right: 3em;
  border-radius: 1em;
  border: none;
}

.grid {
  width: 75%;
}
