* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding:auto;
    margin: auto;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    /* background-color: #191414; */
    background-color: #191414;

}